<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Crappy Bird</title>
  <style>
    body {
      background-image: url("{{url_for('static', filename='bg.png')}}");
    }
    a, td, h1, p, h4, h3 {
      color: black;
      font-weight: 500;
    }
  </style>
</head>

<header>
  <a href="{{ url_for('index') }}">Homepage</a>
  <a href="{{ url_for('scores') }}">Scores</a>
  <a href="{{ url_for('game') }}">Game</a>
</header>

<body>
  <div>
    {% block content %}

    {% endblock %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>