{% extends "base.html" %}

{% block content %}
<form method="POST">
    <label for="index">Search for player:</label>
    <input name="text">
    <button>Search</button>
</form>
    <h1 class="jumbotron text-xxl-center"> Welcome to Crappy Bird </h1>
    <div>
        <h1 class="jumbotron text-xl-center"> Highscore </h1>
        {% for key, value in highscore.items() %} 
            <h4 class="jumbotron text-center border-top border-success">CONGRATULATIONS {{ key }}</h4>
            <h4 class="jumbotron text-center">Score: {{ value }}</h4>
        {% endfor %}
    </div>
{% endblock %}