{% extends "base.html" %}
{% block content %}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Player</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <body>
        {% for player in scores %}
        <tr>
            <td>{{ scores.index(player) + 1 }}</td>
            <td><a href="{{ url_for('player', name=player[0]) }}">{{ player[0] }}</a></td>
            <td>{{ player[1] }}</td>
        </tr>
        {% endfor %}
    </body>

</table>
{% endblock %}