{% extends "base.html" %}
{% block content %}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Rank</th>
            <form method="post" action="/scores">
                <th scope="col">
                    <input type="submit" name="sortby" value="Player"
                        style="background:none; border:none; margin:0; padding:0; cursor:pointer">
                    <i style="border: solid black; border-width: 0 3px 3px 0; display: inline-block; padding: 3px;transform: rotate(45deg); -webkit-transform: rotate(45deg);"></i>
                </th>
                <th scope="col">
                    <input type="submit" name="sortby" value="Score"
                        style="background:none; border:none; margin:0; padding:0; cursor:pointer">
                    <i style="border: solid black; border-width: 0 3px 3px 0; display: inline-block; padding: 3px;transform: rotate(45deg); -webkit-transform: rotate(45deg);"></i>
                </th>
            </form>
        </tr>
    </thead>

    <body>
        <h1 class="jumbotron text-xxl-center">Click your name to check scores</h1>
        {% for player in scores %}
        <tr>
            <td>{{ scores.index(player) + 1 }}</td>
            <td><a href="{{ url_for('player', name=player[0]) }}">{{ player[0] }}</a></td>
            <td>{{ player[1] }}</td>
        </tr>
        {% endfor %}
    </body>

</table>
{% endblock %}